*, html, body{
  margin: 0;
  padding: 0;
}
.App{
  background: #e0e0e0;
  font-family: "Dosis", sans-serif;
}
.content{
  background: white;
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
  line-height: 1em;
  letter-spacing: 0.03em;
}
p, a, span {
  font-weight: 450;
  color: #595858;
  font-size: 1.2em;
  font-family: "Open Sans", sans-serif;
}
h1,h2{
  font-weight: 800;
  font-family: "Dosis", "sans-serif";
  font-size: 8em;
}
h3,h4{
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  font-size: 3em;
}
h5,h6{
  font-weight: 600;
}
h5{
  font-size: 1.6em;
}
.mobileHomeImage{
  display: none;
}
.getStartedMobile{
  display: none;
}
@media only screen and (max-width: 770px){
  .content{
    width: 100%;
  }
}
@media only screen and (max-width: 500px){
  .mobileHomeImage{
    display: block;
  }
  .getStarted{
    display: none;
  }
  .getStartedMobile{
    display: block;
  }
  .badgesContainer{
    display: block !important;
  }
  .badgesContainer img{
    width: 40% !important;
    padding: 10px;
  }
}
@media only screen and (min-width: 900px){
  .futureProofLogo{
    width: 56% !important;
  }
}
.theHeader, .sectionFirst, .sectionSecond{
  width: 60%;
  margin: 0 auto;
}
.theHeader button{
  width: 100%;
  background: purple;
  border: 0;
  padding: 40px;
  color: white;
  border-radius: 20px;
  margin: 50px 0;
  font-size: 1.6em;
}
.sectionSecond{
  background: orange;
  height: 700px;
  padding: 60px 24px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  color: white;
  position: relative;
}