.content-container{
    width: 100%;
}
.intro{
    display: flex;
    margin: 0 auto;
}
.arrow{
    height: 80px;
    width: 10px;
    background: #4679ec;
    margin: 25px auto;
    border-radius: 4px;
}
.sub-topics{
    display: flex;
    justify-content: center;
    display: inline;
}
.sub-topics img{
    padding: 0 20px;
    display: inline-block;
    height: 120px;
    width: 120px;
}