.login-page{
    height: 100vh !important;
    background: url("../images/login-background.png");
  }
  .content-wrapper-login{
    width: 28%;
    float: right;
    margin-top: 40px;
    margin-right: 40px;
  
  }
  .login{
    padding: 20px;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    margin-top: 40px;
  }
  .future-proof{
    color: white;
  }
  .login input{
    width: 90%;
    border-radius: 10px;
    border: none;
    height: 40px;
    margin: 10px 0;
    background: rgba(25,25,25,0.3)
  }
  .g-signin2 .abcRioButton{
    height: 200px;
  }
  .abcRioButton{
    width: 90% !important;
    padding-bottom: 10px !important;
    margin: 0 auto !important;
  }
  .abcRioButtonContents{
    font-size: 1.3em !important;
  }
  .no-account{
    padding-top: 20px;
  }
  .background{
    background: rgb(177, 167, 167, 0.3)
  }
  .main-content{
    width: 80%;
    margin: 0 auto;
    background: white;
    padding-left: 25px
  }
  .main-content h1{
    padding-top: 100px;
    font-size: 5em;
    padding-bottom: 100px;
  }
  .meaning{
    padding: 20px 0;
    font-size: 1.5em;
  }
  .badgesContainer{
    display: grid;
    grid-template-areas: "badges badges get-start get-start";
    padding: 100px 0;
  }
  .badges{
    grid-area: badges;
  }
  .badges img{
    height: 100px;
    width: 100px;
    padding: 0 20px;
  }