.mainContentContainer{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "grid-para grid-img";
    grid-gap: 50px;
    margin: 0 auto;
    padding: 50px 0;
    position: relative;
    min-height: 30vh;
}
.mainContentContainer:nth-of-type(even){
    grid-template-areas: "grid-img grid-para";
    min-height: 30vh;
}
.mainContentP{
    grid-area: grid-para;
    line-height: 1.5em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
}
.mainSubContentImg{
    grid-area: grid-img;

}
@media only screen and (max-width: 770px){
    .mainContentContainer{
        grid-gap: 5px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "grid-para grid-para grid-img" !important;
    }
    .mainContentContainer:nth-of-type(even){
        grid-template-areas: "grid-img grid-para grid-para" !important;
        min-height: 30vh;
    }
    .mainSubContentImg{
        width: 100%;
        right: 0;
    }
    .mainContentContainer:nth-of-type(even) .mainContentImg{
        left: 0;
    }
}
@media only screen and (max-width: 480px){
    .mainContentContainer{
        width: 95%;
        display: block !important;
        margin: 0 auto;
        text-align: center;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "grid-img grid-para" !important;
    }
    .mainContentContainer:nth-of-type(even){
        grid-template-areas: "grid-img grid-para" !important;
    }
    .mainSubContentImg{
        width: 70%;
        position: initial;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 50px;
    }
    .mainContentP{
        top: 0;
        transform: translateY(0);
        padding-bottom: 100px;
    }
    .mainContentContainer:nth-of-type(even) .mainContentImg{
        
    }
}