.menuContainer{
    width: 100%;
    background: black;
}
.contentContainer{
    margin: 0 auto;
    background: black;
    color: white;
    width: 74%;
    display: grid;
    grid-template-areas: "grid-img grid-img grid-img grid-img grid-img grid-img grid-list grid-list";
}
.navImg{
    grid-area: grid-img;
    height: auto;
    width: 240px;
    margin-left: 6%;
    filter: invert(102%) sepia(103%) saturate(1352%) hue-rotate(87deg) brightness(11119%) contrast(119%);
}
.menuList{
    grid-area: grid-list;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    text-align: center;
    vertical-align: middle;
}
.elems img{
    height: auto;
    width: 50px;
    padding: 10px 0;
}
.mobileContainer{
    display: none;
}
.menuListText{
    display: none;
}
@media only screen and (min-width: 2450px) {
    .navImg {
        width: 320px;
    }
    .elems img{
        width: 110px;
    }
}
@media only screen and (min-width: 2200px) and (max-width: 2450px){
    .navImg{
        width: 280px;
    }
    .elems img{
        width: 100px;
    }
}
@media only screen and (min-width: 1650px) and (max-width: 2200px){
    .navImg{
        width: 240px;
    }
    .elems img{
        width: 70px;
    }
}
@media only screen and (max-width: 530px){
    .contentContainer{
        display: block;
    }
    .navImgContainer{
        background: black;
        width: 100%;
        height: 80px;
        position: relative;
    }
    .navImg{
        width: 50%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        margin-left: 0;
    }
    .menuList{
        display: none;
    }
    .menuListText{
        display: block;
        text-decoration: none;
        list-style: none;
        width: 100%;
        margin: 0 auto;
        position: absolute;
        background: black;
        top:10%;
        left: 0;
        z-index:1000;
    }
    .menuListText a{
        color: white;
        text-decoration: none;
    }
    .listElementText{
        text-decoration: none;
        padding: 20px 0;
        border-bottom: 2px solid white;
        width: 90%;
        margin: 0 auto;
    }
    .mobileContainer{
        z-index: 1009;
        opacity: 0.9;
        display: flex;
        align-items: center;
        background: black;
        width: 100%;
        color: black;
        font-family:'Lobster';
        display: block;
    }
    .bar1, .bar2, .bar3{
        width: 28px;
        height: 3px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
    }
    .change .bar1{
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
    .change .bar2 {
        opacity: 0;
    }
    .change .bar3{
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
    .hamburger{
        position: absolute;
        top: 1%;
        left: 1%;
    }
}