.nextStepsContainer{
    width: 100%;
    text-align: center;
}
.nextStepsHeader{
    font-family: "Open sans", sans-serif;
}
.navigationContainer{
    width: 40%;
    margin: 0 auto;
    padding-top: 40px;
}
.prevButton{
    border: 8px solid black;
    padding: 20px;
    font-weight: 600;
    font-size: 2em;
    color: black;
}
@media only screen and (max-width: 800px){
    .navigationContainer{
        width: 60%;
    }
}
@media only screen and (max-width: 500px){
    .navigationContainer{
        width: 70%;
    }
    .prevButton{
        font-size: 1.2em;
    }
}