.nextStepsContainer{
    width: 100%;
    text-align: center;
}
.navigationContainer{
    width: 40%;
    margin: 0 auto;
    padding-top: 40px;
}
.prevButton{
    border: 8px solid black;
    padding: 20px;
    font-weight: 600;
    font-size: 2em;
    color: black;
}
@media only screen and (max-width: 500px){
    .navigationContainer{
        width: 70%;
    }
}