header{
    background: rgb(85,195,237);
    background: linear-gradient(90deg, rgba(85,195,237,1) 0%, rgba(40,176,223,1) 100%);
    width: 100%;
    color: white;
    padding: 16px 0;
    opacity: 0.6;
  }
  .contentContainer{
    position: relative;
    display: grid;
    grid-template-areas: "title title title line";
    width: 94%;
    margin: 0 auto;
  }
  header h1{
    grid-area: title;
    font-size: 2.2em;
  }
  .hamburgerContainer{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    grid-area: line;
    height: 26px;
    width: 36px;
  }
  .line{
    height: 4px;
    width: 100%;
    background: white;
    margin: 6px 0;
    border-radius: 4px;
  }