.homeContainer{
    height: 100vh;
    background: url("images/home-background1.svg");
    background-repeat: no-repeat;
    margin-top: -1.67px;
  } 
  .welcomeImageContainer{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
  }
  .welcomeImage{
    filter: invert(102%) sepia(103%) saturate(1352%) hue-rotate(87deg) brightness(11119%) contrast(119%);
    height: 80px;
    margin-top: 50px;
  }
  .wordsContainer{
    width: 80%;
    margin: 0 auto;
    padding: 68px 0;
    margin-bottom: 200px;
  }
  .wordsContainer div{
    padding: 20px 0;
  }
  .wordsContainer h1{
    font-size: 3.4em;
    color: #b8b8b8;
  }
  .wordsContainer p{
    font-size: 1.2em;
    color: #383838;
  }
  .selectTopicTextContainer{
    padding: 80px 0;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 500px;
    border-top-right-radius: 100px;
    border-top-left-radius: 500px;
    width: 85%;
    margin: 0 auto 140px auto;
    background: rgba(220,29,70, 0.5);
    transform: scale(1) rotate(15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  }
  .topicChoice h1{
    margin: 0 auto;
    color: white;
    text-align: center;
    font-size: 2.5em;
    transform: scale(1) rotate(-15deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  }
  .topicImageContainer{
    padding: 80px 0;
    border-top: 6px solid #e3e3e3;
    
    overflow: hidden;
  }
  .topicImageContainer img{
    
  }